<?xml version='1.0' encoding='utf-8'?>
<widget id="co.giftmeapp.gift_me" version="0.0.21" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GiftMe</name>
    <description>
        Crowdfund gifts that your friends will love!
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <feature name="Contacts">
        <param name="android-package" value="org.apache.cordova.contacts.ContactManager" />
    </feature>
    <access origin="sms:*" launch-external="yes"/>
    <!--<access origin="whatsapp:*" launch-external="yes" />-->
    <access origin="mailto:*" launch-external="yes" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0" >
        <param name="APP_ID" value="1533444716908405" />
        <param name="APP_NAME" value="GiftMe" />
    </gap:plugin> 
    <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io"/>

</widget>
<cordova>
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
</cordova>
