<?xml version='1.0' encoding='utf-8'?>
<widget id="co.giftmeapp.giftme" version="0.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GiftMe</name>
    <description>
        Crowdfund gifts that your friends will love!
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <feature name="debug-server" required="false">
        <param name="domain" value="http://debug.build.phonegap.com"/>
    </feature>


    <feature name="Contacts">
        <param name="android-package" value="org.apache.cordova.contacts.ContactManager" />
    </feature>

    <access origin="sms:*" launch-external="yes"/>
    <access origin="whatsapp:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />

   <platform name="android">
       <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
              <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
              <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
              <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
              <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
              <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>


</widget>
