textarea {
    margin-bottom: 0px !important;
}

body {
    padding: 20px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #eee;
    background: #999;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
